<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<th:block th:fragment="CmmHeaderFragment">
  <!-- Navbar start -->
  <div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
      <div class="d-flex justify-content-between">
        <div class="top-info ps-2">
          <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white" th:text="|서울특별시 강동구 성내동|"></a></small>
          <small class="me-3" th:text="|ymj04310@naver.com|"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
        </div>
        <div class="top-link pe-2">
          <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
          <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
          <th:block th:if="${loginMemberId}">
            <a href="#" class="text-white" th:onclick="|location.href='@{/login/logout}'|"><small class="text-white ms-2">로그아웃</small></a>
          </th:block>

          <th:block th:if="${null == loginMemberId}">
            <a href="#" class="text-white" th:onclick="|location.href='@{/login}'|"><small class="text-white ms-2">로그인</small></a>
          </th:block>

        </div>
      </div>
    </div>
    <div class="container px-0">
      <nav class="navbar navbar-light bg-white navbar-expand-xl">
        <a th:onclick="|location.href='@{/}'|" class="navbar-brand"><h1 class="text-primary display-6">윤진이네 과일농장</h1></a>
        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars text-primary"></span>
        </button>
        <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
          <div class="navbar-nav mx-auto">
            <a th:onclick="|location.href='@{/}'|" class="nav-item nav-link active">전체상품</a>
            <a th:onclick="|location.href='@{/shop/shopList}'|" class="nav-item nav-link">농산물</a>
            <a th:onclick="|location.href='@{/shop/shopDetail}'|" class="nav-item nav-link">수산물</a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">게시판</a>
              <div class="dropdown-menu m-0 bg-secondary rounded-0">
                <a href="cart.html" class="dropdown-item">공지사항</a>
                <a href="chackout.html" class="dropdown-item"></a>
                <a href="testimonial.html" class="dropdown-item">이용안내 FAQ</a>
                <a href="404.html" class="dropdown-item">상품 Q&A</a>
              </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">이용안내</a>
          </div>
          <div class="d-flex m-3 me-0">
            <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
            <a href="#" class="position-relative me-4 my-auto">
              <i class="fa fa-shopping-bag fa-2x"></i>
              <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
            </a>
            <a href="#" class="my-auto" th:onclick="|location.href='@{/login}'|" id="index_login">
              <i class="fas fa-user fa-2x"></i>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Navbar End -->


  <!-- Modal Search Start -->
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex align-items-center">
          <div class="input-group w-75 mx-auto d-flex">
            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Search End -->
</th:block>