
<!-- Default Layout Import-->
<div xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/test/defaultLayout}"
      layout:fragment="Content"
>
  <head>
    <title> 프로필 </title>
  </head>
<!--  <title>테스트2 페이지 </title>-->

  <!-- inline CSS 영역-->
  <style th:inline="css" type="text/css">
    body {
      margin: 30px;
      border: 1px solid red;
    }
  </style>

  <!-- inline JS 영역-->
  <script th:inline="javascript" type="text/javascript">
    $(document).ready(() => {
      alert("페이지가 시작됩니다.")
    });
  </script>


<body>
<div>
  <h1>Content2 영역입니다.</h1>
</div>
</body>
</div>
